body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    color: black;
    text-decoration: none; /* no underline */
  }
  
  .search-bar {
    font-size: 1.2rem;
    padding: 4px 4px 4px 15px;
    margin: 4px 2px;
    width: 80Vw;
    border: 1px solid lightgray;
    border-radius: 15px;
  }